body {
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	width:30em;
}
h2 {
	font-family:Aladin;
	color:black;
	font-size:72px;
	text-align:right;
}
h4, h5 {
	font-family: 'Alegreya SC';
}
p {
	font-family: 'Alegreya SC';
	color:grey;
	font-size:16px;
	text-align:left;
}
.text-left {
	font-size:14px;
}
.alert {
	background-color:#2196f3;
}
.btn-primary {
	background-color:#2196f3;
	font-family:'Alegreya SC'; 
}
.right {
	font-size:12px;
	text-align:right;
}
.normal {
	font-size:16px;
}